<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Photos | Photobook</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="p1">
      <h3>Search Photos by Tag</h3>
      <input type="text" name="search" placeholder="" />
      <button id="search_button">Search</button>

      <label class="switch">
        <input type="checkbox" id="photos-owner-checker" />
        <span class="slider round"></span>
      </label>
      <p style="display: inline">Your Photos</p>
      <br />
      <br />

      <div class="flex-horizontal" id="photo_list"></div>
    </div>

    <script>
      const photos = document.getElementById("photo_list");
      const submitButton = document.querySelector("#search_button");

      submitButton.addEventListener("click", async () => {
        photos.innerHTML = "";
        const search_query = document.querySelector(
          'input[name="search"]'
        ).value;

        // check if the user wants to search only their photos
        const photosOwnerChecker = document.querySelector(
          "#photos-owner-checker"
        );
        const onlyMyPhotos = photosOwnerChecker.checked;

        if (onlyMyPhotos) {
          const token = checkLogin();
          axios
            .get("/photos-with-tags-user", {
              params: { tag: search_query },
              headers: { Authorization: token },
            })
            .then((response) => {
              if (response.data.success) {
                response.data.data.photos.forEach((photo) => {
                  const photoDiv = document.createElement("div");
                  photoDiv.className = "photo";

                  const albumDiv = document.createElement("div");
                  albumDiv.className = "album";
                  albumDiv.innerText = photo[3];

                  const userDiv = document.createElement("div");
                  userDiv.className = "user";
                  userDiv.innerText = `@${photo[4]} ${photo[5]}`;

                  const img = document.createElement("img");
                  img.src = photo[2];
                  img.className = "thumbnail";

                  photoDiv.appendChild(albumDiv);
                  photoDiv.appendChild(userDiv);
                  photoDiv.appendChild(img);

                  photos.appendChild(photoDiv);
                });
              }
            });
        } else {
          axios
            .get("/photos-with-tags-conjuctive", { params: { tag: search_query } })
            .then((response) => {
              if (response.data.success) {
                response.data.data.photos.forEach((photo) => {
                  const photoDiv = document.createElement("div");
                  photoDiv.className = "photo";

                  const albumDiv = document.createElement("div");
                  albumDiv.className = "album";
                  albumDiv.innerText = photo[3];

                  const userDiv = document.createElement("div");
                  userDiv.className = "user";
                  userDiv.innerText = `@${photo[4]} ${photo[5]}`;

                  const img = document.createElement("img");
                  img.src = photo[2];
                  img.className = "thumbnail";

                  photoDiv.appendChild(albumDiv);
                  photoDiv.appendChild(userDiv);
                  photoDiv.appendChild(img);

                  photos.appendChild(photoDiv);
                });
              }
            });
        }
      });
    </script>
  </body>
</html>
