<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Tag Photos| Photobook</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="p1">
      <h3>Photos with tag <span class="tag">Landspace</span></h3>

      <br>
      <div class="flex-horizontal">
        <div class="photo">
          <div class="album">Birthday 2024</div>
          <div class="user">@Ayush Pandey</div>
          <img src="https://picsum.photos/200/200" class="thumbnail" />
        </div>
        <div class="photo">
          <div class="album">Birthday 2024</div>
          <div class="user">@Ayush Pandey</div>
          <img src="https://picsum.photos/200/200" class="thumbnail" />
        </div>
        <div class="photo">
          <div class="album">Birthday 2024</div>
          <div class="user">@Ayush Pandey</div>
          <img src="https://picsum.photos/200/200" class="thumbnail" />
        </div>
        <div class="photo">
          <div class="album">Birthday 2024</div>
          <div class="user">@Ayush Pandey</div>
          <img src="https://picsum.photos/200/200" class="thumbnail" />
        </div>
        <div class="photo">
          <div class="album">Birthday 2024</div>
          <div class="user">@Ayush Pandey</div>
          <img src="https://picsum.photos/200/200" class="thumbnail" />
        </div>
        <div class="photo">
          <div class="album">Birthday 2024</div>
          <div class="user">@Ayush Pandey</div>
          <img src="https://picsum.photos/200/200" class="thumbnail" />
        </div>
    </div>
  </body>
</html>
